<head>
    <meta charset="utf-8">
    <title>The HTML5 Template</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<header>
    <h4>ESDA</h4>
    <a href="/private/p_index">Inicio</a>
    <a href="/procesar_cerrar_sesion">Cerrar sesion</a>
    <span> <a href="/private/user/<%=user.id%>"><%=user.username%></a></span> 
</header>