<head>
    <meta charset="utf-8">
    <title>The HTML5 Template</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<header>
    <h4>ESDA</h4>
    <img class="logo" src="/images/pentagram.svg" alt="">
    <form action="/episodios" class="form-buscar">
        <input type="text" name="busqueda" id="" placeholder="Buscar episodio">
        <input type="submit" value="Buscar">
    </form> 
    <a href="/">Inicio</a>
    <a href="/episodios">Episodios</a>
    <a href="/ingreso">Ingreso</a>
    <a href="/registro">Registrarse</a>    
</header>