<div class="ingreso">
    <%- include('./partials/public_header')%>
    <section class="content">
        <h4>Ingreso admin</h4>
        <% if ( message && message.length > 0 ){ %>
            <span><%=message%></span>
        <% } %>
        <form onsubmit="return validate()" action="/procesar_ingreso" method="post">
            <fieldset>
                <label for="email">Email</label>
                <input type="email" name="email" id="">            
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="">
                <input name="enviar" type="submit" value="ingresar">
            </fieldset>
        </form>
    </section>
    <%- include('./partials/footer')%>
</div>