<div class="admin-index">
    <section class="content">
       <%- include('../partials/private_header')%> 
       <section class="admin-actions">
           <a href="/private/anadir-episodio">Añadir episodio</a>
       </section>
       <%- include('../partials/footer')%>
    </section>
</div>